PORT=5000
MONGO_URI=mongodb+srv://himabindugade0706_db_user:JxkHg76DciPCuhch@cluster0.qxpojkt.mongodb.net/?appName=Cluster0
JWT_SECRET=Hima@220806
CLIENT_URL=https://chronogrid-sigma.vercel.app/
NODE_ENV=production

